/*
Theme Name:sydney-child
Template:sydney
Version:1.53
*/
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
  font-size: 35px !important;
}

h5,a{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
  color:black;
}
a:hover{
  color: #d65050 !important;
}


.card, .card-body, .card p, .card-body p, .card a, .card-body a{
  word-break: break-all !important;
}


/**
****           パーツ関係
***                             **/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: transparent !important;
  border: 1px solid #d65050;
  color: #d65050;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #d65050 !important;
  color:white !important;
}

button:hover a{
  color:white !important;
}








.overlay{
  background-color: black;
  opacity:0.7;
  height:100%;
  position:relative;
}

.panel-grid .overlay {
  z-index: 10;
}

/*　＜共通＞ヘッダー関係　*/

.site-header{
  /*-webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);  */
  display: relative;
  position: absolute;
}

.site-header{
  position: fixed;
  top:0;
}

/*　＜共通＞メニューバー関係　*/


.container a{
  line-height: 45px;
}

@media only screen and (max-width: 1024px){
  .site-header {
    background-color: rgba(0,0,0, 0.9) !important;
  }
  button{
    width: 85% !important;
  }

  .site-header.fixed {
    position: fixed !important;
  }
}

@media only screen and (max-width: 724px){

  .container a{
    line-height: 20px !important;
  }

  button{
    width: 85% !important;
  }
  .card{
    width: 100% !important;
  }
  .card-body{
    margin:0;
    width: 100%;
  }
}




/*　＜共通＞フッター関係　*/

.footmenu-wrapper{
  height:200px;
  background-size: cover;
  background-position-y: bottom;
  background-image: url(http://localhost:8888/wordpress3/wp-content/uploads/2019/04/DSC08865-Pano-2.jpg);
}

.site-footer{
  line-height: 70px;
  padding-top:0px;
  background-color: whitesmoke !important;
  padding:0px;
  margin-top: 100px;
  text-align: center;
}

.site-info{
  /*  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);  */
}

/*  投稿ページ(home.php)関連  */

.hentry .title-post{
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}


.masonry-layout .hentry {
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
  float:left;
  margin:5px;
  box-sizing: border-box;
}



.entry-header{
  word-break: break-all;
  margin: auto
  line-height:auto;
}

.content-area .entry-thumb {
  text-align: center;
  margin-bottom: 0px;
}

.masonry-layout .hentry img{
  max-height:200px;
  max-width:100%;
  object-fit: contain;
  z-index:0;
}

.content-area{
  width: 100%;
}

/* トップページ関連 */


.page-wrap{
  margin: 0;
  padding: 0;
}

.hfeed .row{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.hfeed .content-wrapper{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width:100%;
  padding-top: 0px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hfeed .page-wrap{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.front-page{
  margin-top: 30px;
  width:100%;
  padding:0;
  margin-left:0px;
  margin-right:0px;
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}


.news-wrapper{
  padding-top: 0px;
  padding-bottom: 20px;
  z-index: 10;
  margin:0px;
}

.liveinfo-wrapper{
  background-color: #1c1c1c;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:0px;
  max-width: 100%;
}

.liveinfo-wrapper h5,.liveinfo-wrapper a{
  color:white;
}


.sns-wrapper{
  padding-top:30px;
}

.sns-menu{
  text-align: center;
  font-size: 40px;
}

.sns-menu a{
  color: whitesmoke;
  margin-right:10px;
}

.mainnav{
  padding-top: 20px;
}

/* navigation */
#front-footnav {
  margin-top: 50px;
  width:60%;
  display: block;
  margin:auto;
  text-align: center;
}
#front-footnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#front-footnav li {
  float: left;
  padding: 0 14px;
}
#front-footnav ul ul li {
  padding: 0;
}
#front-footnav ul li a {
  position: relative;
  display: block;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  outline: none;
}
#front-footnav ul li a:hover {
  color: #d65050;
}
#front-footnav ul ul a {
  width: 180px;
  font-family: "Source Sans Pro", sans-serif !important;
}
#front-footnav > ul > li:last-child {
  padding-right: 0;
}
#front-footnav ul li {
  position: relative;
}
#front-footnav ul li ul {
  width: 180px;
  position: absolute;
  top: 100%;
  left: initial;
  opacity: 0;
  visibility: hidden;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#front-footnav ul li ul ul {
  top: 0;
}
#front-footnav ul li ul:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
}
#front-footnav ul li ul ul:after {
  top: 0;
}
#front-footnav ul li ul li ul {
  left: 100%;
}
#front-footnav li:hover > ul {
  opacity: 1;
  padding-top: 10px;
  visibility: visible;
  left: auto;
  display: block !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#front-footnav li:hover > ul ul {
  padding-top: 0;
  left: 100%;
}
#front-footnav .sub-menu {
  z-index: 99999;
}
#front-footnav .sub-menu li a {
  color: #fff;
  display: block;
  line-height: 30px;
  background: #1c1c1c;
  padding: 0 18px;
  border-top: 1px solid #252525;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#front-footnav .sub-menu li:hover > a {
  color: #fff;
}
#front-footnav li:hover > .sub-menu > li > a {
  padding: 8px 18px;
}
/* Icons */
#front-footnav ul li::before {
  font-family: Fontawesome;
  color: #fff;
  float: left;
  margin: 5px 5px 0 0;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
#front-footnav ul li a {
  float: left;
}
#front-footnav .sub-menu li:before {
  content: '';
  margin: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
#front-footnav-mobi ul li a {
  float: none;
}
#front-footnav-mobi ul li::before {
  content: '';
}






/*　＜パーツ＞投稿関連　*/

.entry-post{
  display:none;
}

.entry-footer{
  display:none;
}

.posts-layout{
  padding-top: 100px;
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

footer img, footer p{
  display: inline;
  height: 50px;
  line-height: 40px;
}


/*　投稿ページ(single.PHP)関連　*/
.attachment-large-thumb{
  max-height:500px;
  object-fit: contain;
}



.post-wrap{
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.post-wrapper a{
  display: block;
  position: absolute
}



/*　カードの上にホバーでリンクをかけたい。うまくいってない。

.post .card:hover:after{
content: "NEWS";
background-color: RGB(240,128,128,0.3);
position: absolute;
width: 100%;
height:100%;
line-height: 270px; /* 縦中央 */
/*  top: 0;
left: 0;
text-align: center;
z-index: 1;
}
*/

.pagination{
  padding-top: 50px;
}
